<html>
    <body>
        <div class="login-form">
            <h2>Dashboard</h2>
            <form action="/logout" method="POST">
                
                <button>Logout</button>
            </form>
            
        </div>
    </body>
</html>