<html>

<body>
    <div class="login-form">
        <h2>WELCOME TO THE LANDING PAGE</h2>
        <form action="/login" method="GET">

            <button>Login</button>
        </form>

        <form action="/register" method="GET">
        
            <button>Register</button>
        </form>

    </div>
</body>

</html>